h1 {
  margin: 15px 0;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
label {
  font-size: 12px;
}
form {
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  margin: 5px auto;
}
form button {
  background: rgb(25, 67, 255);
  width: 100%;
  margin: 5px 0;
  color: white;
}

.break {
  background: rgb(0, 199, 116);
  color: #ffff;
  font-weight: 600;
  padding: 0px 20px;
  border-radius: 8px;
}

.resume {
  background: gray;
  color: #ffff;
  font-weight: 600;
  padding: 0px 20px;
  border-radius: 8px;
}
.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 36px;
  z-index: -1;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}

.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}
.timer {
  padding: 16px 0px;
  color: black;
  text-align: center;
  width: 16rem;
  height: 16rem;
  border: 5px solid rgba(120, 132, 180, 0.171);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/clock.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-style: dotted;
}
